*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1120px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}
header, marquee{
    background-color: rgb(204, 12, 124);
    padding-top: 3px;
    color: white;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-between; 
    font-size: 1em;
    background-color: aliceblue;
}

nav, ul{
    display: flex;
    gap: 25px;
    align-items: center;
}

nav, ul, li{
    list-style: none;
}

nav, ul, li, a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 4px;
    font-size: 20px;
}

 ul, a:hover{
    color: rgb(85, 79, 70);
}

.form{
    text-align: center;
    justify-items: center;
    margin-top: 200px;
}
form h3{
    font-size: 2em;
}
form{
    padding:21px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 4px 3px 23px rgb(125, 125, 209);
    background-color: rgb(189, 190, 192);
}
form label{
    font-size: 1.5em;
    margin: 8px 0px;
}

form input{
    padding:3px 2px;
    font-size: 1.3em;
    margin: 8px 0px;
    border-radius: 5px;
}

form button{
    font-size: 1em;
    padding:5px 12px ;
    border-radius: 4px;
}

form input[type="email"]{
    margin-left: 40px;
}