*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1120px;
    margin: 0 auto;
}
main{
    background-color: rgb(238, 236, 236);
    box-shadow: 6px 5px 23px rgb(238, 235, 232);
}

header, marquee{
    background-color: rgb(204, 12, 124);
    padding-top: 3px;
    color: white;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-between; 
    font-size: 1em;
    background-color: aliceblue;
}

nav, ul{
    display: flex;
    gap: 25px;
    align-items: center;
}

nav, ul, li{
    list-style: none;
}

nav, .nav, li, a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 4px;
    font-size: 20px;
}

 ul, a:hover{
    color: rgb(85, 79, 70);
}

.welcome-container{
    width: 100%;
    height: 400px;
    background-color: rgb(250, 218, 192);
    text-align: center;
    align-content: center;
    border-radius: 6px;
}

.welcome{
    font-size:4em;
}

.welcome-container p{
    font-size: 1.3em;
    padding-bottom: 12px;
}
.welcome-container      a{
    color: white;
    background-color: blue;
    padding: 7px 21px;
    font-size: 1.3em;
    border-radius: 9px ;
}
.images_containter{
    text-align: center;
    justify-items: center;
    margin-top: 43px;
}
.images_containter h1{
    margin-bottom: 21px;
}
.images_containter img{
    width: 80%;
    height: 600px;
    display: block;
    margin-bottom: 25px;
    border-radius: 7px;
    box-shadow: 5px 6px 43px rgb(138, 132, 127);
}
.images_containter a{
    color: rgb(95, 173, 173);
    font-size: 1em;
}
.hr hr{
    margin: 15px 0px ;
}
.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 30px 10px;
}

.footer h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-icons {
    margin-bottom: 15px;
}

.footer-icons a {
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
}

.footer-icons a:hover {
    color: #00c3ff;
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
    color: #ccc;
}
