.introduction{
    margin-bottom: 21px;
}
h3{
    text-align: center;
    margin: 12px 0px ;
}
.image{
    text-align: center;
}
img{
    height: 600px;
    width: 600px;
}
hr{
    margin: 6px 0px;
}

.introduction p{
    font-size: 1.3em;
}